name: Update mod list on Release

on:
  release:
    types:
      - released
  workflow_dispatch:
    
permissions: 
  contents: read

jobs:
  update-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: restrainite/resonite-mod-manifest
          ref: restrainite
          token: ${{ secrets.PAT }}
          persist-credentials: true
      - name: Collect release info
        uses: actions/github-script@v7
        with: 
          github-token: '${{ github.token }}'
          script: |
            console.log(await github.rest.repos.getReleaseByTag({
              owner: 'Restrainite',
              repo: 'RestrainiteMod',
              tag: 'v1.1.8'
            }));
      