name: Update mod list on Release

on:
  release:
    types:
      - released
  workflow_dispatch:
    
permissions: 
  contents: read

jobs:
  update-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: restrainite/resonite-mod-manifest
          ref: restrainite
          token: ${{ secrets.PAT }}
          persist-credentials: true
      - name: Collect release info
        uses: actions/github-script@v7
        with: 
          github-token: '${{ github.token }}'
          script: |
            const result = await github.rest.repos.getReleaseByTag({
              owner: 'Restrainite',
              repo: 'RestrainiteMod',
              tag: 'v1.1.8'
            });
            console.log(result);
            if (result.status != 200) {
              throw new Error("Invalid status code: " + result.status);
            }
            console.log(result.data.assets);
            for (const asset of result.data.assets) {
              if (asset.name === 'Restrainite.dll') {
                const url = asset.url;
                const https = require('https');
                https.get(url, res => {
                  console.log(response.statusCode);
                  if (res.statusCode !== 200) {
                    console.error(`Request Failed. Status Code: ${res.statusCode}`);
                    res.resume(); // Consume response data to free up memory
                    return;
                  }
            
                  const crypto = require('crypto');
                  const hash = crypto.createHash('sha256');
              
                  res.on('data', (chunk) => hash.update(chunk));
                  res.on('end', () => {
                    const digest = hash.digest('hex');
                    console.log(`SHA-256 hash: ${digest}`);
                  });
              
                  res.on('error', (err) => {
                    console.error('Response stream error:', err.message);
                  });
                }).on('error', (err) => {
                  console.error('Request error:', err.message);
                });
                break;
              }
            }
      