name: Trigger Update Release Workflow on restrainite.github.io on Release

on:
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  trigger-external-workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.PAT }}
          repository: restrainite/restrainite.github.io
          event-type: update-release
          client-payload: '{"ref": "${{ github.ref }}"}'
