name: Update restrainite.github.io on Release

on:
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  trigger-external-workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: restrainite/restrainite.github.io
          token: ${{ secrets.PAT }}
          persist-credentials: true
      - name: Commit and push latest_version file
        run: |
          REF="${{ github.ref }}"
          SHORTENED="${REF#refs/tags/v}"
          echo "${SHORTENED}" > latest_version
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add latest_version
          git commit -m "Update latest_version to ${SHORTENED}"
          git push origin main
